cost_model = 3

step_ucblbe = $step_ucblbe

step_ucsc = [1230.0, 1230.0, 443.0, 1230.0, 1230.0, 2567.0, 443.0, 2567.0, $step_ucsc_8]

reactor_bldg_uc = $reactor_bldg_uc

hot_cell_uc = $hot_cell_uc

step_ref = [
            8.92,
            8.9e-1,
            3.317e1,
            7.4491e2,
            1.0685e2,
            2.368e1,
            2.725e1,
            9.7,
            2.5403e2,
            8.9,
            1.96,
            4.083e1,
            1.467e1,
            6.1,
            2.59,
            2.59,
            2.71,
            9.2e-1,
            8.56,
            6.7025e2,
            1.51424e3,
            1.02302e3,
            2.8154e2,
            5.9e1,
            3.254e1,
            2.7254e2,
            4.292e2,
            3.955e1,
            4.305e2,
            1.994e1,
            2.295e1,
            3.81e2,
            5.6836e2,
            3.643e1,
            1.703e1,
            1.325e1,
            3.79,
            1.383e1,
            1.465e1,
            1.058e1,
            3.1413e2,
            0.0,
            0.0,
            1.95,
            6.5e-2,
            0.0,
            1.628e1,
            1.603e1,
            9.44,
            1.9051e2,
            1.9585e2,
            1.107e1,
            1.319e2,
            4.858e1,
            2.793e1,
            1.2876e2,
            2.588e1,
            3.01e1,
            4.14e1,
            1.895e1,
            5.13,
            4.228e1,
            8.744e1,
            1.992e1,
            4.664e1,
            3.674e1,
            1.85e1,
            2.23,
            17.25,
            $step_ref_69,
        ]
