cost_model = 2

step_ucblbe = $step_ucblbe

step_ucsc = [1230.0, 1230.0, 443.0, 1230.0, 1230.0, 2567.0, 443.0, 2567.0, $step_ucsc_8]

reactor_bldg_uc = $reactor_bldg_uc

hot_cell_uc = $hot_cell_uc

self.site_imp_uc = [
            6.0,
            24.0,
            60.0,
            43.0,
            14.915863e6,
            20.882208e6,
            671.214e3,
            2.0,
            12.0,
            400.938e3,
            12.0,
            38.0,
            8.0,
            5.0,
            5.0,
            2.0,
            37.0,
            4.0,
            210.618026e6,
            1.283e3,
            1.090e3,
            6.156922e6,
            6.285191e6,
            1.410961e6,
            3.848076e6,
            38.0,
            105.110266e6,
            4.758017e6,
            11.932690e6,
            20.285573e6,
            131.259593e6,
            21.478843e6,
            8.949518e6,
            19.688939e6,
            323.375907e6,
            27.445188e6,
            17.899035e6,
            751.759e3,
            2.231294e6,
            1.746230e6,
            18.137689e6,
            15.448657e6,
            5.773513e6,
            11.345602e6,
            961.357e3,
            536.971e3,
            1.933096e6,
            238.236e3,
            553.796e3,
            85.199e3,
            55.845e3,
            1.774988e6,
            97.737325e6,
            44.111064e6,
            $site_imp_uc_54,
            156.641807e6,
            143.192283e6,
            59.663451e6,
            26.550236e6,
            181.496219e6,
            93.074984e6,
            77.562487e6,
        ]

step_ref = [
            8.92,
            8.9e-1,
            3.317e1,
            7.4491e2,
            1.0685e2,
            2.368e1,
            2.725e1,
            9.7,
            2.5403e2,
            8.9,
            1.96,
            4.083e1,
            1.467e1,
            6.1,
            2.59,
            2.59,
            2.71,
            9.2e-1,
            8.56,
            6.7025e2,
            1.51424e3,
            1.02302e3,
            2.8154e2,
            5.9e1,
            3.254e1,
            2.7254e2,
            4.292e2,
            3.955e1,
            4.305e2,
            1.994e1,
            2.295e1,
            3.81e2,
            5.6836e2,
            3.643e1,
            1.703e1,
            1.325e1,
            3.79,
            1.383e1,
            1.465e1,
            1.058e1,
            3.1413e2,
            0.0,
            0.0,
            1.95,
            6.5e-2,
            0.0,
            1.628e1,
            1.603e1,
            9.44,
            1.9051e2,
            1.9585e2,
            1.107e1,
            1.319e2,
            4.858e1,
            2.793e1,
            1.2876e2,
            2.588e1,
            3.01e1,
            4.14e1,
            1.895e1,
            5.13,
            4.228e1,
            8.744e1,
            1.992e1,
            4.664e1,
            3.674e1,
            1.85e1,
            2.23,
            17.25,
            $step_ref_69,
        ]
